<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Home</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="assiduous/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src = "./resourceJs/home.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
<div id="header-wrapper">
    <div id="header">
        <div id="menu">
            <ul>
                <li ><a href="home.html" class="first">主页</a></li>
                <li class="current_page_item"><a href="signup.html">报名</a></li>
                <li><a href="message.html">消息</a></li>
                <li><a href="score.html">成绩</a></li>
                <li id="show1" style="display:none"><a href="ordUmpire.html">管理比赛</a></li>
                <li id="show2" style="display:none"><a href="projectUmpire.html">管理项目</a></li>
                <li id="show3" style="display:none"><a href="chiefUmpire.html">主裁判入口</a></li>
                <li id="show4" style="display:none"><a href="manage.html">管理员入口</a></li>
            </ul>
        </div>
        <!-- end #menu -->

        <!-- end #search -->
    </div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->

<div id="logo">
    <h1>主页</h1>
    <!-- p><em> template design by <a href="http://www.865171.cn/">www.865171.cn</a></em></p -->
</div>
<hr />
<!-- end #logo -->
<div id="page">
    <div id="page-bgtop">
        <div id="content">
            <div class="post" v-for="game in gameToShow">
                <p class ="meta">已参加</p>
                <div class="entry">

                    <p>比赛id:{{game.gameID}}</p>
                    <p>比赛名称:{{game.gameName}}</p>
                    <p>比赛时间:{{toLocalString(new Date(game.time))}}</p>
                    <p>报名开始时间：{{toLocalString(new Date(game.startTime))}}</p>
                    <p>报名结束时间：{{toLocalString(new Date(game.endTime))}}</p>
                    <p>参赛人数:{{game.amount}}</p>
                    <button v-on:click="cancelSignUp(game)">放弃报名</button>
                </div>
            </div>
        </div>
        <!-- end #content -->
        <div id="sidebar">
            <ul>
                <li>
                    <h2>用户</h2>
                    <!-- p v-for="(value,key) in userInfo">{{key}}:{{value}}</p-->
                    <p>真实姓名：{{userInfo.realName}}</p>
                    <p>性别：{{userInfo.gender=='M'?"男":"女"}}</p>
                    <p>用户id：{{userInfo.uid}}</p>
                    <p>身份：{{userInfo.permission=="VERIFIED"?"已验证":"未验证"}}</p>
                    <h1 v-for="n in computeGameToShow">{{n}}</h1>
                    <h1 v-for="n in computeUnreadMessageId">{{n}}</h1>
                    <h1 v-for="n in computeUserPermission">{{n}}</h1>

                </li>
                <li>
                    <button onclick="window.open('message.html')">未读消息：{{messageNum}}</button>
                </li>

            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp第{{pageIndex}}页</p>
    <div id="footer">
        <button v-on:click="vm.pageIndex--;if(vm.pageIndex<1) vm.pageIndex = 1;"> 上一页</button>
        <button v-on:click="vm.pageIndex++;if(vm.pageIndex>vm.gameToShowById.length/10+1) vm.pageIndex--;"> 下一页</button>
        <!--p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.865171.cn/">www.865171.cn</a>.</p -->
    </div>
    <!-- end #footer -->
</div>

<script>
    var vm = new Vue({
        el: '#page',
        data: {

            messageNum:0,
            pageIndex:1,
            token:getCookie("token"),
            gameToShow:[],
            gameToShowById:[],
            gameIds:[],
            userInfo:[],
            userPermission:0,
        },
        computed:{
            computeUserInfo:function(){
                axios({
                    method:'POST',
                    url:"/Data/user_info",
                    data:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                //uid:this.userInfo.uid
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("请求个人信息成功");console.log(rep);
                    this.userInfo = rep.data;
                    console.log(this.userInfo);
                    return rep}
                    ,
                    rep=>{console.log("请求个人信息失败")}
                )
            },

            //计算用户权限
            computeUserPermission:function(){
                axios({
                    method:'POST',
                    url:"/Data/user_permission",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{

                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取用户权限成功");
                        //格式存疑
                        var permission = rep.data.permission;
                        console.log(rep);
                        switch(permission){
                            case "JUDGE": this.userPermission = 1; break;
                            case "PROJECT_JUDGE": this.userPermission = 2;break;
                            case "MAIN_JUDGE": this.userPermission = 3;break;
                            case "ADMIN": this.userPermission = 4;break;
                        }
                        if(this.userPermission>0)
                            document.getElementById("show1").style.display="block";
                        if(this.userPermission>1)
                            document.getElementById("show2").style.display="block";
                        if(this.userPermission>2)
                            document.getElementById("show3").style.display="block";
                        if(this.userPermission>3)
                            document.getElementById("show4").style.display="block";
                    },
                    rep=>{console.log("获取用户权限失败")}
                );
            },

            //请求要展示的比赛信息
            computeGameToShow:function(){
                var index = (this.pageIndex-1)*10;
                index = index>-1?index:0;
                var list = [];
                //if(!this.gameIds)
                //   return []
                if(!this.gameIds)
                    return null;
                //if(!this.gameIds.gamelist)
                //return null;
                console.log("gamelist: "+ this.gameIds)
                for(var i =0;i<10 && this.gameIds[index+i];i++){
                    list[i] = this.gameIds[index+i];
                }
                this.gameToShowById = list;
                axios({
                    method:'POST',
                    url:"/Data/game_info",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{

                                gameId:list
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取要展示的已参加的项目信息成功");
                        //格式存疑
                        this.gameToShow = rep.data.info;
                        console.log(rep);
                        return rep;
                    },
                    rep=>{console.log("获取要展示的已参加的项目信息失败")}
                );
            },
            //获取未读消息id信息
            computeUnreadMessageId: function (){
                axios({
                    method:"POST",
                    url:"/Data/message_unread",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{
                                uid:this.userInfo.uid,
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取未读消息id成功");
                        this.messageIds = rep.data.list;
                        if(rep.data.list)
                            this.messageNum = rep.data.list.length;
                        console.log(rep);
                        return rep;
                    },
                    rep=>{console.log("获取未读消息id失败")}
                );
            },
        },
        methods:{
            //取消报名
            cancelSignUp(competition){
                console.log(competition)
                axios({
                    method:'POST',
                    url:"/Data/game_join",
                    data:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                uid:this.userInfo.uid,
                                gid:competition.gameID,
                                cancel:true
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("取消报名请求送出");
                        if(rep.data.status=="success")
                            alert("放弃报名成功");
                    }
                ,
                    rep=>{console.log("取消报名请求失败")}
                )

            },
            toLocalString: function(date) {
                return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+"   "+date.getHours()
                    +":"+date.getMinutes()+":"+date.getSeconds();
            },
        }
    })



    axios({
        method:"POST",
        url:"/Data/game_getJoined",
        data:{

            param: {
                token:getCookie("token"),
                Data:{

                },
            }
        }
    }).then(
        rep=>{
            console.log("请求已报名的比赛的id成功");
            vm.gameIds = rep.data["gids"];
            console.log(rep);
            //格式存疑
            return rep;
        },
        rep=>{console.log("请求已报名的比赛id失败")}
    );
    console.log(vm.gameToShowById);

    axios({
        method:'POST',
        url:"/Data/user_info",
        data:{

            param:{
                token:getCookie("token"),
                Data:{

                }
            }
        }
    }).then(
        rep=>{console.log("请求个人信息成功");console.log(rep);
            vm.userInfo = rep.data;

            return rep}
        ,
        rep=>{console.log("请求个人信息失败")}
    )
    console.log(vm.userInfo);
</script>
</body>
</html>
