<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Home</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />；
    <link href="assiduous/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src = "./resourceJs/home.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
<div id="header-wrapper">
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="home.html" class="first">主页</a></li>
                <li class="current_page_item"><a href="signup.html">报名</a></li>
                <li><a href="message.html">消息</a></li>
                <li><a href="score.html">成绩</a></li>
                <li><a href="manage/manage.html">管理</a></li>
            </ul>
        </div>
        <!-- end #menu -->

        <!-- end #search -->
    </div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
    <h1><a href="http://www.865171.cn/">主页</a></h1>
    <!-- p><em> template design by <a href="http://www.865171.cn/">www.865171.cn</a></em></p -->
</div>
<hr />
<!-- end #logo -->
<div id="page">
    <div id="page-bgtop">
        <div id="content">
            <div class="post" v-for="game in gameToShow">
                <p class ="meta">已参加</p>
                <!-- p class="meta"><span class="date">Sunday, April 26, 2009</span> 7:27 AM Posted by <a href="http://www.865171.cn/">Someone</a></p -->
                <!-- h2 class="title"><a href="http://www.865171.cn/">Welcome to Assiduous  </a></h2 -->
                <div class="entry">
                    <p v-for="(value,key) in game"> {{key}}:{{value}} </p>
                    <button v-on:click="cancelSignUp(game)">放弃报名</button>
                </div>
            </div>
        </div>
        <!-- end #content -->
        <div id="sidebar">
            <ul>
                <li>
                    <h2>用户</h2>
                    <p v-for="(value,key) in userInfo">{{key}}:{{value}}</p>
                </li>
                <li>
                    <button onclick="window.open('message.html')">未读消息：{{messageNum}}</button>
                </li>

            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp第{{pageIndex}}页</p>
    <div id="footer">
        <button onclick="vm.pageIndex++;"> 上一页</button>
        <button onclick="vm.pageIndex++;"> 下一页</button>
        <!--p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.865171.cn/">www.865171.cn</a>.</p -->
    </div>
    <!-- end #footer -->
</div>

<script>
    var vm = new Vue({
        el: '#page',
        data: {
            /*userInfo:{
                name:"smc",
                age:20,
                authority:"athlete"
            },*/
            messageNum:0,
            pageIndex:0,
            token:getCookie("token"),

        },
        computed:{
            userInfo:function(){
                axios({
                    url:"/Data/user_info",
                    params:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                //uid:this.userInfo.uid
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("请求个人信息成功");console.log(rep);return rep}
                    ,
                    rep=>{console.log("请求个人信息失败")}
                )
            },
            //得到个人已经报名的项目
            gameToJoinId:function () {
                axios({
                    url:"/Data/game_getJoined",
                    params:{

                        param:{
                            token:getCookie("token"),
                            Data:{

                            }
                        }
                    }
                }).then(
                    rep=>{console.log("请求个人参加的项目成功");console.log(rep);return rep}
                    ,
                    rep=>{console.log("网络问题请求个人参加的项目失败")}
                )
            },
            //请求要展示的比赛信息
            gameToShow:function(){


                axios({
                    url:"/Data/game_list",
                    params:{

                        param: {
                            token:getCookie("token"),
                            Data:{

                                gids:this.gameToJoinId
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取已参加的项目信息成功");
                        //格式存疑
                        return rep;
                    },
                    rep=>{console.log("获取已参加的项目信息失败")}
                );
            }
        },
        methods:{
            //取消报名
            cancelSignUp(competition){
                axios({
                    url:"/Data/game_join",
                    params:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                uid:this.userInfo.uid,
                                gid:competition.gameId,
                                cancel:true
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("取消报名请求送出")}
                ,
                    rep=>{console.log("取消报名请求失败")}
                )

            }
        }
    })
</script>
</body>
</html>
