<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Message</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />；
    <link href="assiduous/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src = "./resourceJs/home.js"> </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
<div id="header-wrapper">
    <div id="header">
        <div id="menu">
            <ul>
                <li ><a href="home.html" class="first">主页</a></li>
                <li class="current_page_item"><a href="signup.html">报名</a></li>
                <li><a href="message.html">消息</a></li>
                <li><a href="score.html">成绩</a></li>
                <li id="show1" style="display:none"><a href="ordUmpire.html">管理比赛</a></li>
                <li id="show2" style="display:none"><a href="projectUmpire.html">管理项目</a></li>
                <li id="show3" style="display:none"><a href="chiefUmpire.html">主裁判入口</a></li>
                <li id="show4" style="display:none"><a href="manage.html">管理员入口</a></li>
            </ul>
        </div>

    </div>
</div>

<div id="logo">
    <h1>消息</h1>

</div>
<hr />

<div id="page">
    <p v-for="n in computeUserInfo">{{n}}</p>
    <p v-for="n in computeUnreadMessageId">{{n}}</p>
    <p v-for="n in computeMessageData">{{n}}</p>
    <h1 v-for="n in computeUserPermission">{{n}}</h1>
    <div id="page-bgtop">
        <div id="content">
            <div class="post" v-for="message in messages">

                <div class="entry">
                    <p> 消息内容:{{message.message.message}} </p>
                    <p> 消息来源:{{message.message.from}} </p>
                    <button v-on:click="setRead(message)" >设为已读</button>
                </div>
            </div>

        </div>
        <div id="sidebar">
            <ul>
                <li>
                    <h2>用户</h2>
                    <p>真实姓名：{{userInfo.realName}}</p>
                    <p>性别：{{userInfo.gender=='M'?"男":"女"}}</p>
                    <p>用户id：{{userInfo.uid}}</p>
                    <p>身份：{{userInfo.permission=="VERIFIED"?"已验证":"未验证"}}</p>
                </li>
                <li>
                    <button onclick="window.open('message.html')">未读消息：{{messageNum}}</button>
                </li>

            </ul>
        </div>

        <div style="clear: both;">&nbsp;</div>
    </div>

    <div id="footer">
        <!-- p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.865171.cn/">www.865171.cn</a>.</p-->
    </div>

</div>

<script>
    var vm = new Vue({
        el: '#page',
        data: {

            messageNum:0,
            //接收消息
            messages: {},

            token:getCookie("token"),
            userInfo:[],
            //pageIndex
            pageIndex:0,
            messageIds:[],
            userPermission:0,
        },
        computed:{
            computeUserInfo:function(){
                axios({
                    method:'POST',
                    url:"/Data/user_info",
                    data:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                //uid:this.userInfo.uid
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("请求个人信息成功");//console.log(rep);
                        this.userInfo = rep.data;
                        //console.log(this.userInfo);
                        return rep}
                    ,
                    rep=>{console.log("请求个人信息失败")}
                )
            },

            //计算用户权限
            computeUserPermission:function(){
                axios({
                    method:'POST',
                    url:"/Data/user_permission",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{

                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取用户权限成功");
                        //格式存疑
                        var permission = rep.data.permission;
                        console.log(rep);
                        switch(permission){
                            case "JUDGE": this.userPermission = 1; break;
                            case "PROJECT_JUDGE": this.userPermission = 2;break;
                            case "MAIN_JUDGE": this.userPermission = 3;break;
                            case "ADMIN": this.userPermission = 4;break;
                        }
                        if(this.userPermission>0)
                            document.getElementById("show1").style.display="block";
                        if(this.userPermission>1)
                            document.getElementById("show2").style.display="block";
                        if(this.userPermission>2)
                            document.getElementById("show3").style.display="block";
                        if(this.userPermission>3)
                            document.getElementById("show4").style.display="block";
                    },
                    rep=>{console.log("获取用户权限失败")}
                );
            },

            //获取未读消息id信息
            computeUnreadMessageId: function (){
                axios({
                    method:"POST",
                    url:"/Data/message_unread",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{
                                uid:this.userInfo.uid,
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取未读消息id成功");
                        this.messageIds = rep.data.list;
                        if(rep.data.list)
                            this.messageNum = rep.data.list.length;
                        console.log(rep);
                        return rep;
                    },
                    rep=>{console.log("获取未读消息id失败")}
                );
            },
            //请求消息内容
            computeMessageData:function () {
                axios({
                    method:"POST",
                    url:"/Data/message_data",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{
                                index:this.messageIds,
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取未读消息内容成功");
                        this.messages = rep.data;
                        this.messages = rep.data.datas;
                        for(message in this.messages){
                            getUserName(message.message.from);
                        }
                        console.log(rep);
                        return rep;
                    },
                    rep=>{console.log("获取未读消息内容失败")}
                );
            }
        },
        methods:{
            //将消息设为已读
            setRead:function (message) {
                axios({
                    method:"POST",
                    url:"/Data/message_read",
                    data:{

                        param: {
                            token:getCookie("token"),
                            Data:{
                                index:message.index,
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("将 message"+message.index+"设为已读成功");

                        return rep;
                    },
                    rep=>{console.log("将 message"+message.index+"设为已读失败")}
                );
            },
            getUserName:function(uid) {
                axios({
                    method:'POST',
                    url:"/Data/user_info",
                    data:{

                        param:{
                            token:getCookie("token"),
                                Data:{
                                    uid:[uid],
                                }
                        }
                    }
                }).then(
                    rep=>{console.log("请求uid为 "+uid+"的人信息成功");//console.log(rep);
                        console.log(rep.data);
                        if(this.messages)
                            for(message in this.messages){
                                if(message)
                                    if(message.message.from==uid) {
                                        message.message.from = rep.data.info[0].realName;
                                        console.log("realName");
                                    }
                            }
                        return rep}
                    ,
                    rep=>{console.log("请求uid为 "+uid+"的人信息失败")}
                )
            },
        }
    })


    axios({
        method:"POST",
        url:"/Data/message_unread",
        data:{

            param: {
                token:getCookie("token"),
                Data:{
                    uid:vm.userInfo.uid,
                },
            }
        }
    }).then(
        rep=>{
            console.log("获取未读消息id成功");
            vm.messageIds = rep.data;

            console.log(rep);
            return rep;
        },
        rep=>{console.log("获取未读消息id失败")}
    );


</script>
</body>
</html>

