<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Score</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />；
    <link href="assiduous/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src = "./resourceJs/home.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
<div id="header-wrapper">
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="home.html" class="first">主页</a></li>
                <li class="current_page_item"><a href="signup.html">报名</a></li>
                <li><a href="message.html">消息</a></li>
                <li><a href="score.html">成绩</a></li>
                <li><a href="manage/manage.html">管理</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
    <h1><a href="http://www.865171.cn/">成绩</a></h1>
    <!-- p><em> template design by <a href="http://www.865171.cn/">www.865171.cn</a></em></p -->
</div>
<hr />
<!-- end #logo -->
<div id="page">
    <div id="page-bgtop">
        <div id="content">
            <div class="post" v-for="game in allGameInfo">
                <p class ="meta">未参加</p>
                <!-- p class="meta"><span class="date">Sunday, April 26, 2009</span> 7:27 AM Posted by <a href="http://www.865171.cn/">Someone</a></p -->
                <!-- h2 class="title"><a href="http://www.865171.cn/">Welcome to Assiduous  </a></h2 -->
                <div class="entry">
                    <p v-for="(value,key) in game"> {{key}}:{{value}} </p>
                    <!-- button v-on:click="signUp(game)">报名参赛</button>
                    <button v-on:click="applyJudge(game)">申请裁判</button-->
                </div>
            </div>

        </div>
        <!-- end #content -->
        <div id="sidebar">
            <ul>
                <li>
                    <h2>用户</h2>
                    <p v-for="(value,key) in userInfo">{{key}}:{{value}}</p>
                    <h1 v-for="n in computeUserInfo">{{n}}</h1>
                </li>
                <li>
                    <button onclick="window.open('message.html')">未读消息：{{messageNum}}</button>
                </li>

            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
        <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.865171.cn/">www.865171.cn</a>.</p>
    </div>
    <!-- end #footer -->
</div>

<script>
    var vm = new Vue({
        el: '#page',
        data: {
            /*userInfo:{
                name:"smc",
                age:20,
                authority:"athlete"
            },*/
            messageNum:0,
            //pageIndex
            pageIndex:0,
            //储存得到的所有比赛项目的id
            gameIds:[],
            //储存要展示的比赛项目的信息
            gameToShow:[],
            token:getCookie("token"),
            gameToShowById:[],
            userInfo:{},
            allGameInfo:[],
        },
        computed:{
            computeUserInfo:function(){
                axios({
                    url:"/Data/user_info",
                    params:{

                        param:{
                            token:getCookie("token"),
                            Data:{

                            }
                        }
                    }
                }).then(
                    rep=>{console.log("请求个人信息成功");console.log(rep);
                    this.userInfo = rep.data;
                    return rep}
                    ,
                    rep=>{console.log("请求个人信息失败")}
                )
            },
            //要展示的比赛的id
            /*
            computeGameToShowById: function(){
                var index = (this.pageIndex-1)*10;
                index = index>-1?index:0;
                var list = [];
                for(var i =0;i<10 && index+i<this.gameIds.length;i++)
                    list[i] = this.gameIds[index+i];
                return list;
            },
            */

            //要展示的比赛的信息
            computeGameToShow: function(){
                var index = (this.pageIndex-1)*10;
                index = index>-1?index:0;
                var list = [];
                if(!this.gameIds)
                    return null;
                for(var i =0;i<10 && index+i<this.gameIds.length;i++)
                    list[i] = this.gameIds[index+i];
                this.gameToShowById =  list;
                axios({
                    url:"/Data/game_info",
                    params:{

                        param: {
                            token:getCookie("token"),
                            Data:{
                                gameId:this.list
                            },
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取已完项目信息成功");
                        //格式存疑
                        return rep;
                    },
                    rep=>{console.log("获取已完成项目信息失败")}
                );
            },
            //得到个人参加的项目的列表
            computeGameIds: function () {
                axios({
                    url:"/Data/game_result",
                    params:{
                        param:{
                            token:getCookie("token"),
                            Data:{
                                all:"true",
                            }
                        }
                    }
                }).then(
                    rep=>{console.log("获取个人已完成的项目列表成功"); this.gameIds = rep.data;
                    return this.gameIds}
                    ,
                    rep=>{console.log("获取个人已完成的项目列表失败")}
                )
            },
            //获取列表 包含每个比赛的gameid和用户的成绩
            gameScoreToShow:function(){
                //获取比赛分数
                axios({
                    method:'POST',
                    url:"/Data/",
                    data:{

                        param:{
                            token:getCookie("token"),
                            Data:{
                                uid:userInfo.uid,
                                gameId:this.gameToShowId()
                            }
                        }
                    }
                }).then(
                    rep=>{
                        console.log("获取已完成项目分数成功");
                    }
                    ,
                    rep=>{console.log("获取已完成项目分数失败")}
                )
            }
        },
        methods:{

        }
    })

    //获取所有已出成绩的比赛的全部信息
    axios({
        url:"/Data/game_result",
        params:{
            param:{
                token:getCookie("token"),
                Data:{
                    all:"true",
                }
            }
        }
    }).then(
        rep=>{console.log("获取所有已出成绩的比赛的信息成功"); this.allGameInfo = rep.data;
            return rep}
        ,
        rep=>{console.log("获取所有已出成绩的比赛信息失败")}
    )


</script>
</body>
</html>