<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
找模板就上免费模板网
http://www.865171.cn/
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>报名</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />；
    <link href="assiduous/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src = "./resourceJs/home.js"> </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
<div id="header-wrapper">
    <div id="header">
        <div id="menu">
            <ul>
                <li><a href="home.html" class="first">主页</a></li>
                <li class="current_page_item"><a href="signup.html">报名</a></li>
                <li><a href="message.html">消息</a></li>
                <li><a href="score.html">成绩</a></li>
                <li><a href="manage/manage.html">管理</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
    <h1><a href="http://www.865171.cn/">报名</a></h1>
    <!-- p><em> template design by <a href="http://www.865171.cn/">www.865171.cn</a></em></p -->
</div>
<hr />
<!-- end #logo -->
<div id="page">
    <div id="page-bgtop">
        <div id="content">
            <div class="post" v-for="game in gameToShow.info">
                <p class ="meta">未参加</p>
                <!-- p class="meta"><span class="date">Sunday, April 26, 2009</span> 7:27 AM Posted by <a href="http://www.865171.cn/">Someone</a></p -->
                <!-- h2 class="title"><a href="http://www.865171.cn/">Welcome to Assiduous  </a></h2 -->
                <div class="entry">
                    <p v-for="(value,key) in game"> {{key}}:{{value}} </p>
                    <button v-on:click="signUp(game)">报名参赛</button>
                    <button v-on:click="applyJudge(game)">申请裁判</button>
                </div>
            </div>
        </div>
        <!-- end #content -->
        <div id="sidebar">
            <ul>
                <li>
                    <h2>用户</h2>
                    <h1 v-for="n in computeUserInfo">{{n}}</h1>
                    <h1 v-for="n in computeGameToShowById">{{n}}</h1>
                    <h1 v-for="n in computeGameToShow">{{n}}</h1>
                    
                    <p v-for="(value,key) in userInfo">{{key}}:{{value}}</p>
                </li>
                <li>
                    <button onclick="window.open('message.html')">未读消息：{{messageNum}}</button>
                </li>


            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
        <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.865171.cn/">www.865171.cn</a>.</p>
    </div>
    <!-- end #footer -->
</div>

<!-- script>
    var vm = new Vue({
        el: '#page',
        data: {
            userInfo:{
                name:"smc",
                age:20,
                authority:"athlete"
            },
            messageNum:0,
            message:{
                //接收消息

            },
            //pageIndex
            pageIndex:0,
            //储存得到的所有比赛项目的id
            gameIds:[],
            //储存要展示的比赛项目的信息
            //gemeToShow:{},
            joinAsAthle: {
                _2019run800:{
                    date:"2019.10.30",
                    location:"运动场",
                    time:"10:00"
                },
                _2019run3000:{
                    date:"2019.11.2",
                    location:"篮球场",
                    time:"9:00"
                }
            },
            joinAsJudge: {
                _2019run1000:{
                    date:"2019.10.28",
                    location:"运动场",
                    time:"8:30"
                }
            }
        },
        computed:{
            //获取所有比赛的信息
            computeGameIds:{
                get:function(){
                    return this.gameIds
                },
                set:function(value){
                    this.gameIds = value;
                }
            },
            //获取要展示的比赛的gameId
            gameToShowById: function () {
                var index = (vm.$data.pageIndex-1)*10;
                index = index>-1?index:0;
                var list = [];
                for(var i =0;i<10 && index+i<this.gameIds.length;i++){
                    list[i] = this.gameIds[index+i];
                }
                return list;
            },
            gameToShow:function(){
                //获取可报名的比赛项目
                var games = {};
                axios({
                    params:{
                        url:"/Data/game",
                        param: {
                            token:getCookie("token"),
                            Data:{
                                //有歧义 并非真正gameId 而是比赛在列表中的序号
                                gameId:this.gameToShowById
                            },
                        }
                    }
                }).then(
                   rep=>{
                       //格式存疑
                       return rep;
                   },
                    rep=>{console.log("获取可报名的项目失败")}
                );
            }
        },
        methods:{
            //报名某个比赛
            signUp(competition){
                axios({
                    params: {
                        url:"/Data/",
                        param: {
                            token:getCookie("token"),
                            Data:{
                                gameId:competition.gameId
                            }
                        }
                    }
                }).then(
                    rep=>{ console.log("success")},
                    rep=>{console.log("fail")}
                );
            },
            //申请成为某个比赛的裁判
            applyJudge(competition){
                axios({
                    params: {
                        url:"/Data/judge_apply",
                        param: {
                            token:getCookie("token"),
                            Data:{
                                gameId:competition.gameId
                            }
                        }
                    }
                }).then(
                    rep=>{ console.log("success")},
                    rep=>{ console.log("fail")}
                );
            }
        }
    })
</script -->
<script src = "./resourceJs/signUp.js"> </script>
<!--
<h1 v-for="computeUserInfo">{{computeUserInfo}}</h1>
<h1 v-for="gameToShowById">{{computeUserInfo}}</h1>
<h1 v-for="gameToShow">{{computeUserInfo}}</h1>
<h1 v-for="computeUserInfo">{{computeUserInfo}}</h1>
-->
</body>
</html>

