<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <listener>
    <listener-class>com.github.b402.cmc.core.ContextManager</listener-class>
  </listener>
  <display-name>CompetitionManagerCore</display-name>
  <welcome-file-list>
    <welcome-file>/loginX.html</welcome-file>
  </welcome-file-list>
</web-app>